<h1>About Me</h1>

<hr> 


<div class="row">
  
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, height: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p> My name is Jesse William Mcalister Jr.</p>
    
    <p> I'm a hard working man that loves what he does, I program on the side as a hobby. I'm going to the University of Utah to get a degree in chemical engineering and hopefully one day double major in software engineering. </p>
  </div>
</div>


