<h1>Contact Me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Home Adress</h3>

      <p>481 E 550 S, Bountiful, UT 84010</p>

    <h3>Phone</h3>

      <p><%= number_to_phone "3852435872" %></p>

    <h3>Email</h3>

      <p><a href="mailto:Jookertv@yahoo.com?subject=Work" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.470300665626!2d-111.87334988421968!3d40.88349737931371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f7f0371abeff%3A0x895a598503b85185!2s481+550+S%2C+Bountiful%2C+UT+84010!5e0!3m2!1sen!2sus!4v1498669876347" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  
</div>  