<div class= "resume-container">
  <div class= "card">
    <h2> Jesse Mcalister Jr.</h2>
    
    <div class="row">
      <div class="col-md-5">
        
        
        
        <h3><u>Objective</u></h3>
        
        <p>Seeking a programming internship, also want to learn more about a real world programming job</p><br>
        
        <h3><u>Skills & Abilities</u></h3>

        <ul>
          <li>Multiple Web desgin projects with HTML, CSS, JavaScript</li>
          <li style="text-align: left;">Made a Portfolio Website using Ruby on Rails, Code to Success</li>
          <li style="text-align: left;">Made games in Unity using C#</li>
          <li style="text-align: left;">Good team collaborative skills</li>
          <li style="text-align: left;">Outstanding customer service</li><br>
        </ul>
        
        <%= link_to "Contact Me", contact_path, class: "contact-class" %>
        
        <hr>
        
        <h3><u> Reference </u></h3>
        
        <p>Jeremy Wolff: Computer Science Teacher at Bountiful High School, jwolff@dsdmail.net</p> 
        
      </div>
      
      
      <div class="col-md-7">  
        <h3><u>Education</u></h3>
        
        <ul><strong>University of Utah</strong> <em>August 2017-Current</em></ul>
        <ul><strong>Code to Success</strong> <em> Ruby, HTML, CSS, JavaScript</em></ul>
        <ul><Strong>Bountiful High School</Strong> <em>Graduated June 2017</em></ul>
        <li> Graduated with High Honors, 3.98 GPA</li><br>
        <ul><Strong>Related High School Courses</Strong></ul>
        <li>Full year of Programming</li>
        <li>AP Computer Science Priniciples</li><br>
        
        
        
        <h3><u>Employment History</u></h3>
        
        <ul><strong>Arctic Circle</strong>: Cashier, <em>July 2016-Feb 2017</em></ul>
        <li>Provided extraordinary customer service while bringing out fast quality product</li><br>
        <ul><strong>Mod Pizza</strong>: Cook and Cashier, <em>July 2017-Current</em></ul>
        <li>Provides excellent customer service and learning how to better understand customer service</li>
        <li>Listens to and follows directions well</li>
        <li>Interacts with customers on a daily basis to get feedback on how to improve the restaurant</li>
        
      
        
      </div>
    </div>
  </div>
</div>
